includes:

parameters:
    level: 5
    paths:
        - src
        - config
        - database
        - tests
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        - '#Method .+::(customer|subscriptions|receipts)\(\) should return .+ but returns .+#'
        - '#Call to an undefined method (Pest\\PendingCalls\\TestCall|PHPUnit\\Framework\\TestCase)::.+#'
    excludePaths:
        analyseAndScan:
            - config/revenuecat.php (?)
